<ion-view view-title="">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <form name="">
        <ion-content>
            <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
                <div>
                    <h1>
                        <i class="ion-android-list"></i>
                    </h1>

                    <h3>Add Subject</h3>
                </div>
            </md-toolbar>
            <div id="note-detail-content" class="subject-detail">
                <md-input-container md-no-float>
                    <input required name="noteTitle" placeholder="Subject Title *" ng-model="subject.title">
                </md-input-container>
                <textarea rows="3" ng-model="subject.description" maxlength="250"
                          placeholder="Describe your subject here ...."></textarea>
                <span>
                    {{(subject.description.length > 0 ? subject.description.length :0) | json}}/250
                </span>
              <hr/>
              <div class="row price-header">
                <div class="col header-name">Categories.. </div>
              </div>
              <div class="row price-detail">
                <div class="col-100">
                  <md-checkbox aria-label="Checkbox" ng-model="category.is_selected" ng-repeat="category in categories">
                    {{category.name}}
                  </md-checkbox>
                </div>
              </div>
            </div>
        </ion-content>
      <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" ng-click="createSubject()" aria-label="Add">
          <!--<i class="ion-plus" ng-click="createSubject()"></i>-->
          <i class="ion-plus" ></i>
        </a>
      </div>
    </form>
</ion-view>
