<!--<ion-view title="Material School" id="online-course">-->
  <!--<ion-content id="user-interface-content">-->
    <!--&lt;!&ndash;<md-list ng-repeat="subject in subjects">&ndash;&gt;-->
      <!--<div class="course-list" ng-repeat="subject in subjects">-->
      <!--<md-divider></md-divider>-->

      <!--<md-subheader>2 line item</md-subheader>-->
        <!--<md-list-item class="md-2-line">-->
          <!--<img ng-src="{{subject.user.fbPhotoUrl}}" class="md-avatar"/>-->

          <!--<div class="md-list-item-text">-->
            <!--<h3>{{subject.title}}</h3>-->

            <!--<p>{{subject.description}}</p>-->
          <!--</div>-->
        <!--</md-list-item>-->
      <!--<md-divider></md-divider>-->
      <!--</div>-->
    <!--<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">-->
      <!--<span>.md-whiteframe-z1</span>-->
    <!--</md-whiteframe>-->
      <!--&lt;!&ndash;<md-list>&ndash;&gt;-->
  <!--</ion-content>-->
  <!--<div class="footer-fab-bar">-->
    <!--<a class="md-button md-accent md-fab fab-footer" aria-label="Add">-->
      <!--<i class="ion-android-star"></i>-->
    <!--</a>-->
  <!--</div>-->

<!--</ion-view>&lt;!&ndash;end online course section&ndash;&gt;-->
<!--View Information-->
<!--View name : Menu Dashboard-->
<!--Controller name : menuDashboardCtrl-->
<!--Controller path : www/templates/themes/menu-dashboard/js/controllers.js-->
<!--State name : app.menuDashboard-->
<!--URL : #app/menuDashboard-->

<ion-view title="Subjects">
  <!--menu dashboard section-->
  <!--heaer fab bar-->
  <div class="header-fab-bar sub-filter-icon">
    <a class="md-button md-accent md-fab sub-icon-filter fab-header" ng-click="navigateTo('app.notedetail')" aria-label="Add">
      <i class="fa fa-filter" aria-hidden="true"></i>
    </a>

  </div><!--end header fab bar-->


  <ion-content id="menu-dashboard-content">
    <!--panel section-->
    <div class="menu-dashboard-footer subjects-list">
      <md-whiteframe class="md-whiteframe-z1" layout ng-click="showToast('Wordpress Blog')" ng-repeat="subject in subjects" >
        <div class="row">

          <!--<img ng-src="{{subject.user.fbPhotoUrl}}" class="md-avatar"/>-->

          <!--<div class="md-list-item-text">-->
          <!--<h3>{{subject.title}}</h3>-->

          <!--<p>{{subject.description}}</p>-->
          <!--<div class="col-10">-->
            <!--<img ng-src="{{subject.user.fbPhotoUrl}}" class="md-avatar"/>-->
            <!--<i class="fa fa-wordpress"></i>-->
          <!--</div>-->
          <!--<div class="col-80">-->
            <!--Wordpress Blog-->
          <!--</div>-->
          <!--<div class="col-10">-->
            <!--<i class="fa fa-angle-right"></i>-->
          <!--</div>-->
          <md-list-item class="col-90 sub-list">
          <img ng-src="{{subject.user.fbPhotoUrl}}" class="md-avatar user-photo"/>

          <div class="md-list-item-text">
          <h3 class="sub-title">{{subject.user.first_name}}, {{subject.title}}</h3>

          <p>{{subject.description}}</p>
            <div class="card-footer text-right">
              <i class="icon ion-chatbubbles positive"></i> 0
              <div class="pull-left">
                <!--<span>{{subject.user.create_date}}</span>-->
              </div>
            </div>
          </div>
          </md-list-item>
          <div class="col-10" style="margin-top: 25px">
          <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </md-whiteframe>
    </div><!--end panel footer section-->
<!--end footer fab bar-->
  </ion-content><!--Menu dashboard section-->
  <!--footer fab bar-->
  <div class="footer-fab-bar">
    <a class="md-button md-accent md-fab fab-footer" ng-click="navigateTo('app.notedetail')" aria-label="Add">
      <i class="ion-android-create"></i>
    </a>
  </div><!--end footer fab bar-->
</ion-view>
