<ion-view cache-view="false">
  <ion-nav-title>
    <a class="chat-profile-info item item-avatar item-icon-right">
      <img ng-src="{{chatDetails.fbPhotoUrl}}">
      <h2>{{chatDetails.userName}}</h2>
      <p>{{chatDetails.subjectName}}</p>
      <i ng-controller="OnlineUserCtrl" class="icon ion-record online-offline" ng-class="{'online-circle': isUserOnline == true, 'offline-circle': isUserOnline == false}"></i>

    </a>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <md-menu md-position-mode="target-right target" class="md-list-item-md-menu-right">
      <p ng-click="$mdOpenMenu()">
        <md-icon md-menu-origin md-svg-icon="more"></md-icon>
      </p>
      <md-menu-content width="3">
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="goToUserProfile()">
            <span class="menu-item-button">View Contact</span>
          </a>
        </md-menu-item>
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="doSomeThing()">
            <span class="menu-item-button">Action 2</span>
          </a>
        </md-menu-item>
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="doSomeThing()">
            <span class="menu-item-button">Action 3</span>
          </a>
        </md-menu-item>
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="doSomeThing()">
            <span class="menu-item-button">Action 4</span>
          </a>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </ion-nav-buttons>

  </div><!--end header fab bar-->
  <!--left button on navigation bar-->
  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
      <i class="ion-android-arrow-back"></i>
    </a>
  </ion-nav-buttons><!--end left button on navigation bar-->

  <ion-content ng-class="{expanded: isExpanded}" id="menu-dashboard-content" class="padding">

    <section class="chats">

    <span ng-repeat="message in messages">
      <span>
        <div ng-class='getBubbleClass(message.sender)'>
          <p ng-bind="message.body"></p>
        </div>
        <div class="clear"></div>
      </span>
    </span>

    </section>

  </ion-content>

  <form name="sendMessageForm" ng-submit="sendMessage(data.message)" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper">
        <input id="msg-input" ng-change="updateTyping()" ng-model="data.message" class="input-message" type="text" placeholder="Message">
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit"
                ng-disabled="!data.message || data.message === ''">
        </button>
      </div>
    </ion-footer-bar>
  </form>

</ion-view>
