<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar ng-class="{headerExpanded: $root.isHeaderExpanded}" class="bar-balanced material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
              <i  ng-if="checkUndreadMessage()" class="icon ion-record menu-circle-new-message" aria-hidden="true"></i>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="{{userDetails.fbPhotoUrl}}">

                <p>
                    <span class="title">{{userDetails.first_name}}    {{userDetails.last_name}}</span>
                    <br/>
                    <!--<span class="sub-title">Material Design Application</span>-->
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
              <div class="row menu-item"  ng-click="navigateTo('app.myProfile')">
                <div class="col-33">
                  <i class="fa fa-database"></i>
                </div>
                <div class="col-66">
                  <span>My Profile</span>
                </div>
              </div>
              <div class="row menu-item"  ng-click="navigateTo('app.subjects')">
                <div class="col-33">
                  <i class="fa fa-database"></i>
                </div>
                <div class="col-66">
                  <span>Subjects</span>
                </div>
              </div>
              <div class="row menu-item"  ng-click="navigateTo('app.messages')">
                <div class="col-33">
                  <i class="fa fa-database"></i>
                </div>
                <div class="col-66">
                  <span>Messages</span>
                </div>
              </div>
              <!--<div class="row menu-item"  ng-click="navigateTo('login')">-->
                <!--<div class="col-33">-->
                  <!--<i class="fa fa-database"></i>-->
                <!--</div>-->
                <!--<div class="col-66">-->
                  <!--<span>login</span>-->
                <!--</div>-->
              <!--</div>-->
              <div class="row menu-item"  ng-click="logOut()">
                <div class="col-33">
                  <i class="fa fa-database"></i>
                </div>
                <div class="col-66">
                  <span>LogOut</span>
                </div>
              </div>
            </div>


            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
              <md-list-item class="menu-list-item" ng-click="navigateTo('app.myProfile')">
                <i class="fa fa-database"></i>
                <span>My Profile</span>
              </md-list-item>
              <md-list-item class="menu-list-item" ng-click="navigateTo('app.subjects')">
                <i class="fa fa-database"></i>
                <span>Subjects</span>
              </md-list-item>
              <md-list-item class="menu-list-item" ng-click="navigateTo('app.messages')">
                <i class="fa fa-database"></i>
                <span>Messages</span>
              </md-list-item>
              <!--<md-list-item class="menu-list-item" ng-click="navigateTo('login')">-->
                <!--<i class="fa fa-database"></i>-->
                <!--<span>login</span>-->
              <!--</md-list-item>-->
              <md-list-item class="menu-list-item" ng-click="logOut()">
                <i class="fa fa-database"></i>
                <span>LogOut</span>
              </md-list-item>
            </md-list>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
