<ion-view cache-view="false" view-title="Messages">
  <ion-nav-buttons side="right">
    <md-menu md-position-mode="target-right target" class="md-list-item-md-menu-right">
      <p ng-click="$mdOpenMenu()">
        <md-icon md-menu-origin md-svg-icon="more"></md-icon>
      </p>
      <md-menu-content width="3">
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="doSomeThing()">
            <span class="menu-item-button">View Contact</span>
          </a>
        </md-menu-item>
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="doSomeThing()">
            <span class="menu-item-button">Action 2</span>
          </a>
        </md-menu-item>
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="doSomeThing()">
            <span class="menu-item-button">Action 3</span>
          </a>
        </md-menu-item>
        <md-menu-item>
          <a class="md-button md-default-theme" ng-click="doSomeThing()">
            <span class="menu-item-button">Action 4</span>
          </a>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </ion-nav-buttons>
  <ion-content ng-class="{expanded: isExpanded}">
    <div class="content has-header">
      <div class="list">
        <a class="item item-avatar item-icon-right" ng-repeat="message in messages">

          <img ng-click="goToUserProfile(message)" ng-src="{{message.fbPhotoUrl}}">
          <div ng-click="goToChat(message)">
            <h2>{{message.subjectName}}</h2>
            <p>{{message.userName}}: {{message.lastMessage}}</p>
            <i ng-class="message.readMessage ? 'message-unread' : (!message.readMessage ? 'message-read' : 'message-unread')" ng-click="goToChat(message)" class="icon ion-chatbubble"></i>
          </div>
          <i class="icon ion-record online-offline" ng-class="{'online-circle': message.online, 'offline-circle': !message.online}"></i>


        </a>

      </div>
    </div>
  </ion-content>
</ion-view>
